**/node_modules
**/.git
**/.next
**/dist
**/.turbo
**/coverage
**/*.log
**/.env*
**/Dockerfile
**/.dockerignore
**/.cursor
**/.vscode
**/.idea
**/openspec
**/scripts
**/test
**/tests
**/*.spec.ts
**/*.test.ts
